* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

/* Navbar */
nav {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Home */
.home {
  text-align: center;
  padding: 80px;
  background: #00adb5;
  color: white;
}

.home span {
  color: yellow;
}

.home button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

.project-card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  width: 60%;
  border-radius: 8px;
}

/* Contact */
form input, form textarea {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
}

form button {
  padding: 10px 25px;
  background: #00adb5;
  border: none;
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}